<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>08_servlet4</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <context-param>
 	<param-name>id2</param-name>
 	<param-value>blitz</param-value>
  </context-param>
  <context-param>
 	<param-name>pwd2</param-name>
 	<param-value>password</param-value>
  </context-param>
  
  <servlet>
    <servlet-name>InitParam</servlet-name>
    <servlet-class>kr.co.iamtek.InitParam</servlet-class>
    <init-param>
      <param-name>id</param-name>
      <param-value>abcdef</param-value>
    </init-param>
    <init-param>
      <param-name>pwd</param-name>
      <param-value>1234</param-value>
    </init-param>
    <init-param>
      <param-name>path</param-name>
      <param-value>C:\Users\Administrator\Desktop\CODE\GIT</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitParam</servlet-name>
    <url-pattern>/IParam</url-pattern>
  </servlet-mapping>
  
  <listener>
  	<listener-class>kr.co.iamtek.ContextListener</listener-class>
  </listener>
  
</web-app>